[submodule "lib/idiorm"]
	url = git@github.com:aquarion/idiorm.git
	path = lib/idiorm
[submodule "lib/paris"]
	path = lib/paris
	url = git://github.com/j4mie/paris.git
[submodule "lib/XLSXReader"]
	path = lib/XLSXReader
	url = git@github.com:gneustaetter/XLSXReader.git
