RewriteEngine On
RewriteRule assets/.*    - [L]
RewriteRule favicon.ico    - [L]
RewriteRule odysseywiki/.*    - [L]
RewriteRule stagingwiki/.*    - [L]
RewriteRule index.php    - [L]
RewriteRule .*   /index.php    [L]
